#root {
  background-color: #e0e6ea;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e0e6ea; /* 백그라운드 색상 추가 */
}

.navbar {
  margin-top: -10px;
  width: 100%; /* 너비를 100%로 설정 */
  height: 40px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #e0e6ea;
}

.back-button {
  margin-left: -10px;
  background: url('~/public/left_arrow_grey.png') no-repeat center center;
  background-size: contain;
  border: none;
  width: 33px; /* 버튼 크기 조정 */
  height: 33px; /* 버튼 크기 조정 */
  cursor: pointer;
  border-radius: 90px;
  
}

.image-container {
  border-radius: 8px;
  margin-top: 10px; /* 상단 마진 조정 */
  width: 400px; /* 컨테이너 너비 */
  height: 400px; /* 컨테이너 높이 */
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; /* 이미지가 컨테이너를 넘지 않도록 설정 */
  border-radius: 8px;
  /* box-shadow:  7px 7px rgba(0, 0, 0, 0.2); */
}

.product-image {
  width: 100%; /* 컨테이너 너비에 맞추기 */
  height: auto; /* 높이는 자동으로 조정 */
  object-fit: contain; /* 비율을 유지하며 컨테이너에 맞추기 */
}

.product-info {
  margin-top:-3px;
  width: 100%;
  padding: 20px;
  color: #555657;
}

.product-info h1 {
  margin-top: 8px;
  text-align: left;
  font-family: 'pm';
  font-size: 15pt;
  font-weight: bold;
  color: #555657;
}

.product-info p {
  margin-top: 10px;
  text-align: right;
  font-family: 'pm';
  font-size: 12pt;
  color: #555657;
}

.tactile-info-container {
  margin-top: -30px;
}


.view-product-button {
  margin-top: 25px;
  background-color: #FFDBDA;
  color: #555657;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  border-radius: 12px;
  font-family: 'f5';
  border: 0.2px solid rgba(0, 0, 0, 0.7);
}

.view-product-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

@font-face {
  font-family: 'f4';
  src: url('../../../public/fonts/Freesentation-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'f5';
  src: url('../../../public/fonts/Freesentation-5Medium.ttf') format('truetype');
}
