.goods-list-container {
  margin-top: -4px;
  width: 480px; /* 너비를 더 넓게 조정 */
  padding: 20px;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: center;
}

.category-button {
  background-color: #FFFFFF;
  color: #1e1f23;
  border: 0.2px solid rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 12pt;
  font-family: 'ps';
  flex: 1; /* 모든 버튼이 동일한 크기를 가지도록 설정 */
  margin: 0 8px; /* 버튼 간의 간격 설정 */
}

.category-button:hover {
  background-color: #FFDBDA;
  color: #000000;
}

.sort-order-dropdown {
  margin-bottom: 2px;
  margin-top: -25px;
  padding: 8px 16px;
  border-radius: 40px;
  font-family: 'f5';
  background-color: #e0e6ea;
  color: #000000;
  border: none;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 10pt;
  font-family: 'ps';
  width: calc(100% / 4 - 10px); /* 드롭다운의 너비 조정 */
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goods-item {
  width: 48%; /* 상품 리스트 항목의 너비를 넓게 조정 */
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 11pt;
  border-radius: 8px;
  font-family: 'pm';
  /* box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2); */
}

.goods-item img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.goods-item p {
  margin: 12px 0 0 0;
  font-size: 0.9em;
}

.goods-item p span {
  display: block;
  font-size: 0.8em;
  color: #aaa;
}

@font-face {
  font-family: 'f4';
  src: url('../../../public/fonts/Freesentation-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'f5';
  src: url('../../../public/fonts/Freesentation-5Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'pm';
  src: url('../../../public/fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'pr';
  src: url('../../../public/fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ps';
  src: url('../../../public/fonts/Pretendard-SemiBold.ttf') format('truetype');
}
