.touch-info {
  margin-top: 10px;
  border-radius: 10px;
  width: 480px;
  height: 200px;
  background-image: url('../../../public/Group 4.png'); /* 경로 수정 */
  background-size: cover; /* 이미지 크기를 컨테이너에 맞춤 */
  background-position: center; /* 이미지 위치를 중앙으로 설정 */
  background-repeat: no-repeat; /* 이미지 반복을 방지 */
}

.touch-area {
  width: 420px;
  border-radius: 15px;
}

/* .touch-info h2 {
  margin-left: -12px;
  width: 475px;
  height: 40px;
  margin-top: px;
  font-family: 'f5';
  font-size: 18pt;
  color: #000000;
  font-weight: bold;

} */

.touch-bar {
  /* background-color: rgba(61, 63, 70, 0.5); */
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #000000;
  font-family: 'f4';
  font-size: 12pt;
}

.touch-bar span {
  flex: 1;
}

.progress-bar-wrapper {
  flex: 4;
  position: relative;
}

.custom-progress-bar .progress-bar {
  background-color: transparent !important;
  background-image: none !important;
}

.ticks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.tick {
  width: 4px;
  height: 100%;
  background-color: #3d3f46;
}


.touch-info-text {
  margin-top: 4px;
  margin-bottom: 2px;
  width: 450px;
  height: 50px;
  /* background-color: #D1D1D1; */
  text-align: center;
}

/* Rectangle */




@font-face {
  font-family: 'f4';
  src: url('../../../public/fonts/Freesentation-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'f5';
  src: url('../../../public/fonts/Freesentation-5Medium.ttf') format('truetype');
}





