
   .touch-info {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .touch-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  
  .touch-bar {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: #FFFFFF;
  }
  
  .touch-bar span {
    flex: 1;
  }
  
  .progress-bar-wrapper {
    flex: 4;
    position: relative;
  }
  
  .progress-bar-wrapper .progress {
    height: 20px;
    background-color: #ffffff;
    overflow: visible;
  }
  
  .ticks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .tick {
    width: 4px;
    height: 100%;
    background-color: #000000;
  }
  